body {
    background-color: #f5f5f5;
    color: #555;
}
#game {
    margin: auto;
    text-align: center;
}
.grid {
    display: inline-block;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    width: 30px;
    height: 30px;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-weight: 900;
    position: relative;
}
.bg-green.bg-deep { background-color: #36c95e; }
.bg-green.bg-fade { background-color: #2f994c; }
.bg-brown.bg-deep { background-color: #4b2d0f; }
.bg-brown.bg-fade { background-color: #693f16; }
.col.color-0 { color: #cccccc; }
.col.color-1 { color: #47ceff; }
.col.color-2 { color: #85ff8f; }
.col.color-3 { color: #ff8ca9; }
.col.color-4 { color: #7888ff; }
.col.color-5 { color: #ff334e; }
.col.color-6 { color: #70ffee; }
.col.color-7 { color: #5e5e5e; }
.col.color-8 { color: #9c9c9c; }
.col.isOpen { background-color: #ccc; }
.col.isBomb::before, .col.isFlag::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    display: block;
}
.col.isFlag::after { 
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
}
.col.isBomb::before {
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #444444;
}