<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body oncontextmenu="return false">
    <div id="game">
        <h1>{{getGameTime}}</h1>
        <h2>{{getGameStatus}}</h2>
        <div class="grid">
            <div class="row" v-for="row in grid">
                <div class="col" v-for="col in row"
                    v-bind:class="classArrayOf(col)"
                    @mousedown.left="mousedownLeft(col)"
                    @mousedown.right="mousedownRight(col)">
                        {{ col.isOpen && !col.isBoom && col.number > 0 ? col.number : '' }}
                </div>
            </div>
        </div>
        <div>
            width<input type="number" v-model="width">
            <br>
            height<input type="number" v-model="height">
            <br>
            bombs<input type="number" v-model="bombs">
            <br>
            <button @click="restart">Again</button>
        </div>
    </div>
    <script src="./minesweeper.js"></script>
    <script src="./index.js"></script>
</body>
</html>